[Desktop Entry]
Version=1.0
Type=Link
Name=dataset module — Surprise 1 documentation
Comment=
Icon=user-bookmarks
URL=https://surprise.readthedocs.io/en/stable/dataset.html
